<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JsonifyIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JsonifyOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JsonifyTVOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JsonifyWatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C6CC6DA1EAC88D700ABD0F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6CC6E71EAC88E000ABD0F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C7110C41EAC88A000214A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C984F511EAC955A00100B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C984F601EAC956A00100B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
